2ºtrimestre/TEMA_12/xsd_explicacion/ejercicios_xml/ej02_01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="libro">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="portada">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="titulo" type="xs:string" />
                            <xs:element name="escritor" type="xs:string" />
                            <xs:element name="editorial" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="contenido">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="capitulo" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="titulocap" type="xs:string" />
                                        <xs:element name="texto" type="xs:string" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="trasero">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="resumen" type="xs:string" />
                            <xs:element name="fecha" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>